* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans'
}

img {
    max-width: 100%;
}

.resortCard {
    display: flex;
    flex-flow: column wrap;
    min-width: 500px;
    max-width: 500px;
    padding: 0rem;
    margin: 1rem auto 2rem auto;
    background-color: #5B98D7;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: 0.3s all;

}

.resortCard:hover {
    transform: scale(1.05);
    z-index: 1;
    cursor: pointer;
    background-color: #7B98C0;
}

.resortCard h1 {
    position: absolute;
    margin-left: 2rem;
    color: white;
    text-shadow: 1px 1px #666666;
}

.resortCard .resortImgWrapper {
    height: 15rem;
    overflow: hidden;
}

.resortCard img {}

.resortCard .resortDetails {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    color: white;
    text-shadow: 1px 1px #999999;
}

nav {
    margin-bottom: -5rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 4rem;
}

nav ul {
    font-size: 1.2rem;
    color: white;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
}

nav ul li {
}

nav ul li a {
    padding: 10px 30px;
    transition: 0.3s;
    text-decoration: none;
    color:white;
}

nav ul li:hover a {
    background-color: white;
    color: #5B98D7;
}

nav ul li:last-child {
    margin-left: auto;
}

.searchIcon {
    width: 2rem;
}

#search {
    width: 25vw;
    height: 2rem;
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 5px;
    font-size: 1rem;
}

.logoNav{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 6rem;
    transform: translate(-300%, -50%);
    font-size: 4rem;
    color: white;
    font-family: 'Racing Sans One';
    text-shadow: 2px 2px #E0E6ED;
}

.logoImg {
    transform: translate(0px, -20%);
}

.logoImgWrapper {
    text-align: center;
    position: relative;
    height: 20rem;
    overflow: hidden;
    box-shadow: inset 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
}

.logoImgWrapper > .logoText {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    font-family: 'Racing Sans One';
    text-shadow: 2px 2px #E0E6ED;
}

.searchSection {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.searchSection .filtering {
    width: 15rem;
    height: 3rem;
    background-color: #fff;
    transition: .3s all;
    text-align: left;
    padding: 1rem;
    padding-bottom: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.searchSection h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.searchSection .sort {
    background-color: #eee;
    width: 8rem;
    padding: 0.3rem;
    appearance: none;
    border: 1px solid #FFF;
    font-family: 'Open Sans';
    margin-left: 0.5rem;
}

.searchSection .filterItems {
    margin-left: 1rem;
    margin-top: 1rem;
}

section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 0.5rem;
    grid-auto-flow: row dense;
}

@keyframes open {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
        height: 0;
        transform-origin: center;
    }
}

main section .sectionTitle {
    text-align: center;
    grid-column: 1/-1;
    font-size: 2rem;
}



main h2 {}

footer {
    background-color: #5B98D7;
    height: 15rem;
    color: white;
    padding-top: 10px;
}

footer h3 {
    padding-left: 9.5rem;
}

footer > ul {
    list-style: none;
    /*
    display: flex;
    flex-flow: row wrap;
*/
}

li {
    cursor: pointer;
}

footer > ul > li {
    padding: 0 7rem;
}

.facebook,
.instagram {
    width: 4rem;
    padding: .5rem;
}

.some-icon {
    display: inline-flex;
    /*    margin: -7vh 4vh 4vh 7vw;*/
    /*    width: 7rem;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    display:flow-root;*/
}


.some-icon > img {
    padding: 0 2vh;
}

.extendedDesc {
    grid-column: 1/-1;
    background-color: #e0e6ed;
    display: none;
    justify-self: center;
    animation: .3s open ease-in reverse forwards;
    padding: 1rem;
    padding-left: 2rem;
    position: relative;
    /*    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/
}

.resortIcons img {
    transition: 0.3s;
}

.resortIcons figure {
    width: 7rem;
    position: relative;
}

.resortIcons img:hover {
    transform: scale(1.1);
}

.resortIcons {
    display: flex;
    justify-content: center;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    position: absolute;
    top: -2rem;
    border-bottom: 2rem solid #e0e6ed;
}

.close {
    color: #eb8900;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5%;
}

.slopes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.slopes div {
    padding: 0 1rem;
}

.slopes div .red,
.blue,
.green,
.black {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.green {
    background-color: forestgreen;
}

.blue {
    background-color: dodgerblue;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.resortMap {
    max-height: 21rem;
    margin-left: auto;
    margin-right: auto;
}

.resortIcons figure .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: -80px;
    width: 180px;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.resortIcons figure:hover .tooltiptext {
    visibility: visible;
}

.extendedPrice {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.resortDescription {
    width: 40rem;
}

.descButtons {
    display: flex;
    justify-content: center;
}


.descButtons a {
    margin: 0 1rem;
    text-align: center;
    height: 3.5rem;
    width: 13rem;
    line-height: 3;
    background-color: #eb8900;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #ffffff;
    font-family: 'Open sans';
    font-size: 1.1rem;
    text-shadow: 0px 1px 0px #665c28;
}

.descButtons a:hover {
    background-color: #bd9b2a;
}

.descButtons a:active {
    position: relative;
    top: 1px;
}

.descWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.left {
    display: flex;
    flex-flow: column;
    grid-area: left;
}

.left h2{
        margin: 0;
    color: #999;
}

.left h1{
    font-size: 2rem;
    margin-bottom: 0;
}

.right {
    display: flex;
    grid-area: right;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1350px) {
    .descWrapper {
        display: grid;
        grid-template-columns: 1fr 0fr;
        grid-template-areas: "left"
            "right";
        grid-gap: 2rem;
        justify-content: center;
    }

    .arrow-up{
        display: none;
    }

    .resortDescription{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .left h1{
        text-align: center;
    }

    .resortIcons figure .tooltiptext {
    visibility: visible;
}
}
